{% extends "base.html" %}
<html>

  <head>
    {% block body %}
    <title> Beer API Tester </title>
    <style>
      .btn-xlg {
      padding: 18px 28px;
      font-size: 40px;
      line-height: normal;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      }
      body {
      background-image: url(../static/img/background.jpg);
      background-repeat:no-repeat;
      display: compact;
      }
    </style>
  </head>

  <body>
    <br><br><br>
    <div class="jumbotron container">
      <center>
	<h1> Beer API </h1>
	<h2> Search an ABV between 2 and 20: </h2>
	<br>
	<form class="form_control" action="" method="POST" role="form">
	  <div class="form_group">
	    <input type="text" name="abv">
	    <!--input class="form-control" type="text" name="search" value=""--><br>
	    <br>
	    <br>
	    <button class="btn btn-primary btn-xlg" type="submit" name="b">Get Beers</button>
	  </div>
	</form>
      </center>

  </body>
  {% endblock %}
</html>
